@{
    ViewData["Title"] = "Registrarse";
}

<section class="container seccion">
    <form class="formulario" action="/Home/Registrarse" method="POST">
        <h1>Registro de usuario</h1>
        <div class="contenedor">
            <div class="input-contenedor">
                <i class="fas fa-user icon"></i>
                <input type="text" name="Usuario" placeholder="Nombre de Usuario" required>
            </div>

            <div class="input-contenedor">
                <i class="fas fa-envelope icon"></i>
                <input type="text" name="Pass" placeholder="Contraseña" required>
            </div>
 
            <div class="input-contenedor">
                <i class="fas fa-key icon"></i>
                <input type="password" name="ConfirmPass" placeholder="Repetir Contraseña" required>
            </div>

            
    @{
        if(ViewBag.errorRegister != null)
        {
            <p>@ViewBag.errorRegister</p>
        }

    }

            <button type="submit">Registrarse</button>
            <p>Al registrarte, aceptas nuestras Condiciones de uso y Política de privacidad.</p>
            <p>¿Ya tienes una cuenta? <a class="link" asp-area="" asp-controller="Home" asp-action="IniciarSesion">Iniciar Sesion</a></p>
        </div>
    </form>
    <h4>
        @ViewBag.Message
    </h4>
</section>